---
import TabHeader from './TabHeader.astro';

interface Tab {
  title: string;
  image: string;
  description: Array<{ step: string; content: string }>;
}

interface Props {
  tabs: Tab[];
}

const { tabs } = Astro.props;

---

<div x-data="{ tab: 0 }" class="grid grid-cols-1 xs:grid-cols-2 xs:gap-10 gap-4">
  <!-- Tabs -->
  <div class="hidden xs:flex flex-col space-y-2">
    {
      tabs.map((t, i) => (
        <button
          class="bg-white rounded-lg px-6 py-4 text-left cursor-pointer hover:border-[var(--color-gray-20)] "
          x-on:click={`tab=${i}`}
          x-bind:class={`{
            'border border-[var(--color-brand-titan-gray)]': tab === ${i},
            'border border-white hover:border-[var(--color-gray-20)]': tab !== ${i},
          }`}
        >
          <p class="ty-title-3 ty-black">{t.title}</p>
        </button>
      
      ))
    }
  </div>

  <!-- Mobile Tab Header - visible only below sm breakpoint -->
 <TabHeader  
 tabs={tabs}
/>

  <!-- Imagen -->
  <div
    class=" flex flex-col  relative  rounded-lg  items-center justify-center p-4"
  >
    {
      tabs.map((t, i) => {

        return (
        <img
          src={t.image}
          alt={t.title}
          class="w-full"
          x-show={`tab === ${i}`}
        />
      )})
    }
    <div class="col-span-1 md:col-span-2 mt-4 text-sm text-gray-800 space-y-2">
      {
        tabs.map((t, i) => (
          <div x-show={`tab === ${i}`}>
            {t.description.map((s, j) => (
              <p id={i.toString()} class="ty-body-2 ty-black">{s.step}</p>
              <p class="ty-body-2 ">{s.content}</p>
            ))}
          </div>
        ))
      }
    </div>
  </div>

</div>
