---
import Button from "../Button/Button.astro";
import NavLink from "../Button/NavLink.astro";

interface Props {
  href: string;
  image: string;
  imageAlt?: string;
  badge: string;
  description: string; // 👈 ahora array
  linkLabel: string;
}

const {
  href,
  image,
  imageAlt = "",
  badge,
  description,
  linkLabel,
} = Astro.props as Props;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class="block rounded-lg shadow-md bg-[var(--color-neutral-100)] hover:shadow-lg hover:bg-[var(--color-neutral-200)] transition"
>
  <div
    class="flex flex-col lg:flex-row justify-between gap-[var(--spacing-l)] p-[var(--spacing-xxl)]"
  >
    <!-- Imagen + Badge -->
    <div class="flex flex-col items-start gap-[var(--spacing-xxl)]">
      <img
        src={image}
        alt={imageAlt}
        loading="lazy"
        class="h-[clamp(32px,5vw,50px)] w-auto max-w-[clamp(160px,30vw,300px)] object-contain"
      />

      <Button variant="secondary" size="md" rounded="md">
        {badge}
      </Button>
    </div>

    <!-- Texto -->
    <div
      class="flex flex-col items-start about lg:w-2/3 space-y-[var(--spacing-m)] gap-[var(--spacing-l)]"
    >
      <div class="description-2 space-y-4">
        <p class="ty-body-1 text-[color:var(--color-neutral-700)]">
          {description}
        </p>
      </div>

      <div class="link-2 flex items-center gap-2 pt-[var(--spacing-s)]">
        <span class="text-[var(--color-brand-swiss)] hover:underline font-bold">
          {linkLabel}
        </span>
        <img
          src="/images/arrow_outward_2.svg"
          loading="lazy"
          alt=""
          class="w-4 h-4"
        />
      </div>
    </div>
  </div>
</a>
