---
/* src/components/layout/SectionHeader.astro
  SectionHeader Component
  
  Props:
     - title: string
     - subtitle?: string
     - size?: "display" | "title1" | "title2" | "title3" | "title4" (default "title1")
     - align?: "left" | "center" (default "left")
     - padding?: "none" | "sm" | "md" | "lg" | "xl" (default "md")
     - margin?: string
     - maxWidth?: "none" | "sm" | "md" | "lg" | "xl" | "2xl" | "3xl" | "4xl" | "5xl" | "6xl" | "7xl" (default "3xl")
*/

interface Props {
  title: string;
  subtitle?: string;
  size?: "display" | "title1" | "title2" | "title3" | "title4";
  align?: "left" | "center";
  padding?: "none" | "sm" | "md" | "lg" | "xl" | "xxl";
  margin?: string;
  maxWidth?:
    | "none"
    | "sm"
    | "md"
    | "lg"
    | "xl"
    | "2xl"
    | "3xl"
    | "4xl"
    | "5xl"
    | "6xl"
    | "7xl";
}

const {
  title,
  subtitle,
  size = "title1",
  align = "left",
  padding = "md",
  maxWidth = "3xl",
  margin = "",
} = Astro.props;

const titleSizes = {
  display: "ty-display text-center",
  title1: "ty-title-1",
  title2: "ty-title-2",
  title3: "ty-title-3",
  title4: "ty-title-4",
}[size];

const marginCls = {
  none: "",
  sm: "my-8",
  md: "my-12",
  lg: "my-16",
  xl: "my-20",
  xxl: "my-24",
}[margin];

const spacing = {
  sm: "gap-[var(--spacing-s)]",
  md: "gap-[var(--spacing-m)]",
  lg: "gap-[var(--spacing-l)]",
  xl: "gap-[var(--spacing-xl)]",
  xxl: "gap-[var(--spacing-xxl)]",
  none: "",
}[padding];

const maxWidthCls = maxWidth === "none" ? "" : `max-w-${maxWidth}`;

console.log({ maxWidth, margin });
---

<header class={` flex flex-col  w-full ${spacing} ${marginCls}`}>
  <h1
    class={` text-[color:var(--color-brand-deep-blue)] m-0 ${titleSizes} text-${align} `}
  >
    {title}
  </h1>
  {
    subtitle && (
      <p
        class={`ty-body-1 text-${align} text-[color:var(--color-neutral-650)]  ${maxWidthCls}`}
      >
        {subtitle}
      </p>
    )
  }
</header>
