---
import Section from "../components/Layout/Section.astro";
import SectionHeader from "../components/Layout/SectionHeader.astro";
import Base from "../layouts/Base.astro";
import CardEcosystem from "../components/Ecosystem/CardEcosystem.astro";
import ecosystem from "../content/ecosystem.json";
import FlexStack from "../components/Layout/FlexStack.astro";
import NavLink from "../components/Button/NavLink.astro";
---

<Base>
  <Section
    variant="accent"
    width="content"
    align="left"
    pad="xs"
    id="ecosystem-header"
  >
      <SectionHeader
        title={ecosystem.header.title}
        subtitle={ecosystem.header.subtitle}
        maxWidth="lg"
        size="display"
        align="center"
        margin="xxl"
        padding="lg"
      />
  </Section>

  <Section
    variant="plain"
    width="content"
    align="left"
    pad="xxs"
    id="ecosystem-intro"
  >
    <Fragment>
      <p class="ty-body-2 text-[var(--color-gray-60)]">{ecosystem.intro.title}</p>
      <div class="flex items-center gap-2">
        <p class="ty-body-2 text-[var(--color-gray-60)]">{ecosystem.intro.subtitle}</p>

        <NavLink href={ecosystem.intro.cta.href} target="_blank"
          >{ecosystem.intro.cta.label}</NavLink
        >
      </div>
    </Fragment>
  </Section>


  <div x-data="{ active: 0, activeCategory: 'Show All' }">
    <Section id="ecosystem-tabs-menu" pad="none">
      <div class="tabs-menu flex flex-wrap gap-4">
        {["Show All", ...ecosystem.categories].map((label, i) => (
          <button
            type="button"
            data-index={i}
            data-category={label}
            @click="active = $el.dataset.index; activeCategory = $el.dataset.category"
            :class="active == $el.dataset.index ? 'border border-gray-800 text-gray-900 ' : 'border border-transparent text-gray-600 hover:border-gray-300'"
            class="px-7 py-2 font-semibold rounded-md transition cursor-pointer"
          >
            {label}
          </button>
        ))}
      </div>
    </Section>
    <Section
      variant="plain"
      width="content"
      align="left"
      id="ecosystem-tabs"
      pad="xxs"
    >
      <FlexStack direction="col" gap="40px">
        {
          ecosystem.tabs.map((tab, index) => (
            <div 
              class="ecosystem-card" 
              data-category={tab.category}
              x-show="activeCategory === 'Show All' || activeCategory === $el.getAttribute('data-category')"
              x-transition
            >
              <CardEcosystem
                href={tab.href}
                image={tab.image}
                imageAlt={tab.imageAlt}
                badge={tab.badge}
                description={tab.description}
                linkLabel={tab.linkLabel}
              />
            </div>
          ))
        }
      </FlexStack>
    </Section>
  </div>
</Base>
