---
import index from "../../content/index.json";
import Tooltip from "../Tooltip/Tooltip.astro";

interface Props {
  name: string;
  image: string;
  contract: string;
  explorerBaseUrl: string;
  actions: Array<{
    label: string;
    fiatProviders?: Array<{
      href: string;
      image: string;
      name: string;
    }>;
    href?: string;
    image?: string;
  }>;
}

const { name, image, contract, explorerBaseUrl, actions } =
  Astro.props as Props;
const contractUrl = `${explorerBaseUrl}/${contract}`;
---

<div class="rounded-xl border border-gray-200 bg-white p-6 shadow-sm w-full">
  <!-- Chain Header -->
  <div class="flex items-center gap-3">
    <img src={image} alt={name} class="w-10 h-10" />
    <div>
      <p class="ty-xs ty-black text-[var(--color-brand-anthracite)]">
        {index.tokens.header.label}
      </p>
      <h2 class="ty-big-2 ty-black">{name}</h2>
    </div>
  </div>

  <div class="mt-4">
    <div class="flex items-center gap-2 text-sm text-gray-800 break-all">
      <p class="ty-body-3 ty-black text-gray-500">
        {index.tokens.header.title}
      </p>
      <img
        src="images/Vectors-Wrapper.svg"
        loading="lazy"
        alt=""
        class="w-3 h-3"
      />
    </div>
    <div class="flex items-center gap-2 text-sm text-gray-800 break-all">
      <a
        href={contractUrl}
        target="_blank"
        class="ty-2xs hover:underline text-blue-600"
      >
        {contract}
      </a>
      <Tooltip text={index.tokens.actions.copyTextTooltip} toCopy={contract} />
    </div>
  </div>

  <!-- Buy with fiat -->
  {
    actions.map((action) => (
      <div class="mt-6">
        <p class="text-sm ty-secondary ty-extrabold mb-2">{action.label}</p>
        <div class="flex gap-2">
          {action.fiatProviders?.map((p) => (
            <a
              href={p.href}
              target="_blank"
              class="flex items-center justify-center w-full h-[58px] rounded border border-[#eff0f3] bg-[#f7f7f9] px-3 py-2 gap-2 transition-all duration-200 hover:border-[#dfe0e6] hover:shadow-[0_1px_2px_#00000008,0_6px_8px_#0000001a]"
            >
              <img src={p.image} alt={p.name} class="h-6" />
            </a>
          ))}
        </div>
        {action.href && (
          <a
            href={action.href}
            target="_blank"
            class="flex items-center justify-center w-full h-[58px] rounded border border-[#eff0f3] bg-[#f7f7f9] px-3 py-2 gap-2 transition-all duration-200 hover:border-[#dfe0e6] hover:shadow-[0_1px_2px_#00000008,0_6px_8px_#0000001a]"
          >
            <img src={action.image} alt={action.label} class="h-6" />
          </a>
        )}
      </div>
    ))
  }
</div>
