---
import Footer from "../components/Layout/Footer.astro";
import Header from "../components/Layout/Header.astro";
import "../styles/global.css";
import site from "../content/shared/site.json";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={site.site.name} />
    <meta property="og:description" content={site.site.description} />
    <meta property="og:image" content={site.site.image} />
    <meta property="og:url" content={site.site.url} />
    <title>{site.site.name}</title>
    <script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js" defer
    ></script>
    <script
      async=""
      src="https://www.googletagmanager.com/gtag/js?id=G-RNM9S018ES"></script>
  </head>
  <body
    class="min-h-dvh min-w-dvw flex flex-col w-full bg-[var(--color-white)] text-[var(--color-neutral-800)]"
  >
    <Header />

    <main class="w-full flex-1 flex flex-col">
      <slot />
    </main>

    <Footer />
  </body>
</html>
