---
import Button from "../Button/Button.astro";
import NavLink from "../Button/NavLink.astro";

interface Props {
  title: string;
  image: string;
  imageAlt?: string;
  description: string;
  cta: {
    label: string;
    href: string;
  };
  shadow?: "none" | "sm" | "md" | "lg" | "xl" | "2xl";
}

const {
  title,
  image,
  imageAlt = "",
  description,
  cta,
  shadow = "md",
} = Astro.props as Props;

const shadows = {
  none: "shadow-none",
  sm: "shadow-sm",
  md: "shadow-md",
  lg: "shadow-lg",
  xl: "shadow-xl",
  "2xl": "shadow-2xl",
};

const hoverShadows = {
  none: "hover:shadow-sm",
  sm: "hover:shadow-md",
  md: "hover:shadow-lg",
  lg: "hover:shadow-xl",
  xl: "hover:shadow-2xl",
  "2xl": "hover:shadow-2xl",
};

const shadowClass = shadows[shadow];
const hoverShadowClass = hoverShadows[shadow];
---

<a
  href={cta.href}
  target="_blank"
  rel="noopener noreferrer"
  class={`block rounded-lg ${shadowClass} ${hoverShadowClass} bg-[var(--color-neutral-100)] hover:bg-[var(--color-neutral-200)] transition h-auto`}
>
  <div
    class="flex flex-col justify-between gap-[var(--spacing-l)] p-[var(--spacing-xxl)] group w-full h-auto"
  >
    <div class="flex flex-col gap-[var(--spacing-l)] h-auto justify-between">
      <h2 class="ty-big-2">{title}</h2>
      <img
        src={image}
        alt={imageAlt}
        loading="lazy"
        class="max-h-[90px] max-w-[90px]"
      />
      <h3 class="ty-body-1">
        {description}
      </h3>
    </div>
    <div class="flex items-center gap-2 mt-auto">
      <h3 class="ty-regular ty-black text-[var(--color-brand-deep-blue)]">
        {cta.label}
      </h3>
      <img src="images/Arrow.svg" loading="lazy" alt="" class="w-3 h-3" />
    </div>

    <!-- </div> -->
  </div>
</a>
